{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Contact</title>
    <link rel="stylesheet" href="{% static 'create_contact.css' %}">
</head>
<body>
    <div class="create_contact">
        <h2>Create a Contact</h2>
        <form method="POST" enctype="multipart/form-data" id="createForm">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"  onclick="cancel()">Submit</button>
                <button type="button" class="btn btn-secondary" onclick="cancel()">Cancel</button>
            </div>
        </form>
    </div>

    <footer class="site-footer">
        <p>©Created by Aastha Singh</p>
    </footer>

    <script>
        function cancel() {
            window.location.href = "{% url 'HomePage' %}";
        }
    </script>
</body>
</html>
