{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Contact</title>
    <link rel="stylesheet" href="{% static 'delete.css' %}">
</head>
<body>
    <div class="delete_contact">
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            Are you want to delete this item ?
            <input type="submit" value="Yes" />
            <button type="button" class="delete_contact_delete" onclick="cancel()">Cancel</button>
        </form>
    </div>

    <footer class="site-footer">
        <p>©Created by Aastha Singh</p>
    </footer>
    
    <script>
        function cancel() {
            window.location.href = "{% url 'HomePage' %}";
        }
    </script>
</body>
</html>