{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contact</title>
    <link rel="stylesheet" href="{% static 'update_view.css' %}">
</head>
<body>
    <div class="create_contact">
        <h2>Update Contact</h2>
        <form method="POST" id="updateForm">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <input type="submit" value="Update" class="btn btn-primary">
                <a href="{% url 'HomePage' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>

    <footer class="site-footer">
        <p>©Created by Aastha Singh</p>
    </footer>
    
    <script>
        document.getElementById("updateForm").addEventListener("submit",function(event) {
            event.preventDefault();

            window.location.href = "{% url 'HomePage' %}";
        });
    </script>
</body>
</html>